/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #000028; /* ЧЕРНЫЕ буквы на красном фоне в темной теме */
  --focus-color: #db00ff;
  --article-text-color: #f1b2ce;
  --corner-color: var(--accent-color);
  --button-color: var(--accent-color);
  --button-hover-border: #FF0070;
  --text-title:var(--accent-color,#ff0070);
}

@media (prefers-color-scheme: dark) {

  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --title-color: #000028;
    --focus-color: #db00ff;
    --article-text-color: #f1b2ce;
    --corner-color: var(--accent-color);
    --button-color: var(--accent-color);
    --button-hover-border: #FF0070;
    --text-title:var(--accent-color,#ff0070);
  }
}