/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--accent-color, #ff0070);
  font-family: var(--font-family, monospace);
  font-size: 18px;
  display: grid;
  background-color: var(--title-color, #fff1f7); /* Исправлено на title-color */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* margin-top: 30px; */
}

.header__rec {
  color: var(--accent-color, #ff0070);
  position: absolute;
  z-index: -1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 13px;
  /* padding: clamp(2px, 0.0286rem + 2.5445vw, 3.5px); */
  /* margin-right: -9px; */
  padding: 0;
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
}

.header__text {
  color: var(--focus-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  /* padding-bottom: 61px; */
}

.article__header {
  color: var(--title-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.3em;
  background: var(--accent-color, #ff0070);
}

h4.article__header {
  font-weight: 400;
}

.title {
  color: var(--text__title-muted, #343530);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px;
}

.section {
  display: grid;
  gap: 20px;
}

.section-gallery {
  gap: 10px;
}

.article__list {
  display: grid;
  gap: 20px;
}

.article__list > article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__content {
  display: grid;
  gap: 10px;
}

.article__images {
  display: grid;
  gap: 10px;
}

.article__text {
  color: var(--article-text-color, #f1b2ce);
  line-height: 23.4px;
}

.image__card {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.header {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  /* min-height: 100vh;
  min-height: 668px; */
  min-height: max(668px, 100vh);
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
  /* padding: 10px; */
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--button-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-border, #ff0070); /* Темная рамка в hover */
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor; /* Рамка со всех сторон */
}

.header__text-title {
  margin-block: 55px;
  color: var(--title-color, #000028); /* Черные буквы в темной теме */
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color, #ff0070); /* Красный фон в темной теме */
  margin: 0;
  /* margin-bottom: 51px; */
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.link:hover {
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.link:focus {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.square {
  display: grid;
  /* min-block-size: 100vh; */
  position: relative;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.square::before,
.square::after {
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  z-index: -1;
  content: "";
}

.square::before {
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  border-inline-end: 1px solid var(--corner-color, #ff0070);
  border-block-start: 1px solid var(--corner-color, #ff0070);
  /* margin-top: 9px; */
}

.square::after {
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  border-inline-start: 1px solid var(--corner-color, #ff0070);
  border-block-end: 1px solid var(--corner-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.footer {
  min-height: max(667px, 100vh);
  place-items: center;
}

.footer__text {
  color: var(--focus-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width >= 768px) {

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header__text-title {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    justify-self: end;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
    /* margin-top: 10px; */
  }

  .header__rec {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .cards {
    grid-column-start: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .article__images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image__card:first-child,
  .image__card:last-child {
    grid-column-start: span 2;
  }

  .image__card:nth-child(2),
  .image__card:nth-child(3) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  
  .section {
    column-gap: 32px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 22px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
